{% extends "base.html" %}
{% block content %}
<div id="single">
    <p id='page_url' style="display: none;">{{ SITEURL }}/{{ article.url }}</p>
  <img id="cover" crossorigin="anonymous" src="{{ SITEURL }}/theme/post_img/post.jpg">
  <p id='disqus_username' style="display: none;">{{ DISQUS_SITENAME }}</p>
  <div id="top">
    <div class="bar"></div>
    <a id="go-back" class="go-back" href="javascript:go_back()"><i class="mdi mdi-arrow-left"></i></a>
    <h3 class="subtitle">{{ article.title }}</h3>
    <div class="scrollbar"></div>
  </div>

  <div class="section">
    <div class="article">
      <div>
        <h1 class="title">{{ article.title }}</h1>
        <div class="stuff">
          <span>{{ article.date|strftime('%d %B %Y') }}</span>
			{% if article.tags %}
			{% for tag in article.tags %}
          <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
			{% endfor %}
			{% endif %}
        </div>
        <div class="content">
          {{ article.content }}
        </div>
        <div class="comment link" >Comments</div>
      </div>
    </div>
  </div>
  {% endblock %}
