{% for article in articles_page.object_list %}
{% if not loop.first %}
<div class="post" {% if loop.first %}style="display: none;"{% endif %}>
    <a  href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">
    <img width="680" height="440" src="
    {{ SITEURL }}/theme/post_img/{{ article.slug }}.jpg
    " class="cover" />
  </a>
  <div class="else">
      <p>{{ article.date|strftime('%d %B %Y') }}</p>
    <h3><a  class="posttitle" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
    <p>{{ article.content|striptags|truncate(50) }}...</p>
  </div>
</div>
{% endif %}
{% endfor %}
